/* TOPBAR */
.top-bar {
    color: black;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1030;
    padding: 20px 75px;
}

/* HEADER */
.header-logo {
    background-color: #be1622;
    width: 100%;
    padding: 2.5em;
}

div a {
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.2rem;
}

/* NAV MENU */
.navbar-nav {
    padding: 0.5em 1em;
    font-size: large;
    font-weight: 600;
}

.navbar-nav span {
    font-size: 1.5em;
}

/* SUBMENU */
.submenu {
  width: 100%;
  background-color: #ffffff;
  border-bottom: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-weight: bold;
  margin: 0;
  padding: 0.5rem 5rem;
}

.submenu-item {
  color: #000;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 0.9rem;
}
